ul li{
    list-style: none;
    display: inline;
    text-decoration: none;
    

}
ul li a{
    text-decoration: none;
    padding: 10px;
    float: left;
    
}
img{
    align-self: auto;
    border: yellow;
    border-style: solid;
    margin: auto;
    margin-top: 20px;
    margin-bottom: 20px;
    box-shadow: 10px 10px 8px red;
    border-radius: 50%;
    
    

}
